extends layout.pug

block content
  .wrapper
      .container
        .color.card-2(style='background-color: #fff;')
          #rootwizard
            .navbar
              ul.nav.nav-pills(style='background-color: #efefef;')
                li.vypocet
                  a(href='#tab1', data-toggle='tab') 1
                li.vypocet
                  a(href='#tab2', data-toggle='tab') 2
                li.vypocet
                  a(href='#tab3', data-toggle='tab') 3
                li.vypocet
                  a(href='#tab4', data-toggle='tab') 4
                li.vypocet
                  a(href='#tab5', data-toggle='tab') 5
                li.vypocet
                  a(href='#tab6', data-toggle='tab') 6
                li.vypocet
                  a(href='#tab7', data-toggle='tab') 7
                li.vypocet
                  a(href='#tab8', data-toggle='tab') 8
                li.vypocet
                  a(href='#tab9', data-toggle='tab') 9
                li.vypocet
                  a(href='#tab10', data-toggle='tab') 10
                li.vypocet
                  a(href='#tab11', data-toggle='tab') 11
                li.vypocet
                  a(href='#tab12', data-toggle='tab') 12
                li.vypocet
                  a(href='#tab13', data-toggle='tab') 13
                li.vypocet
                  a(href='#tab14', data-toggle='tab') 14
                li.vypocet
                  a(href='#tab15', data-toggle='tab') 15
                li.vypocet
                  a(href='#tab16', data-toggle='tab') 16
                li.vypocet
                  a(href='#tab17', data-toggle='tab') 17
                li.vypocet
                  a(href='#tab18', data-toggle='tab') 18
                li.vypocet
                  a(href='#tab19', data-toggle='tab') 19
                li.vypocet
                  a(href='#tab20', data-toggle='tab') 20
                li.vypocet
                  a(href='#tab21', data-toggle='tab') 21
                li.vypocet
                  a(href='#tab22', data-toggle='tab') 22
                li.vypocet
                  a(href='#tab23', data-toggle='tab') 23
                li.vypocet
                  a(href='#tab24', data-toggle='tab') 24
                li.vypocet
                  a(href='#tab25', data-toggle='tab') 25
                li.vypocet
                  a(href='#tab26', data-toggle='tab') 26
                li.vypocet
                  a(href='#tab27', data-toggle='tab') 27
                li.vypocet
                  a(href='#tab28', data-toggle='tab') 28
            #bar.progress
              .progress-bar.bg-success.progress-bar-striped(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
            form#csvForm(autocomplete="off")
              .tab-content

                mixin otazka(title='Default Title', helpNadpis='Default', helpPopis ='Default')
                  h3.otazka= title
                    a.napoveda(
                      tabindex='0',
                      data-toggle='popover',
                      data-html='true',
                      data-trigger='focus',
                      data-placement='top',
                      title= helpNadpis,
                      data-content= helpPopis)
                      i.fas.fa-question-circle
                  br

                mixin napoveda(nazev='Default', popis ='Default')
                  a.napoveda(
            		  	tabindex='0',
            			  data-toggle='popover',
            			  data-html='true',
            			  data-trigger='focus',
            			  data-placement='top',
            			  title= nazev,
            			  data-content= popis)
                    i.fas.fa-question-circle

                mixin vyber(div='')
                  .vyber
                        button.buttonRadio(
                            type='button',
                            onclick= div)
                            | ANO
                        button.next.buttonRadio(
                            type='button')
                            | NE
                  br
                  hr

                //PŘÍJMY
                #tab1.tab-pane
                 include otazky/samostatna_cinnost.pug
                #tab2.tab-pane
                 include otazky/zmena_cinnost.pug
                #tab3.tab-pane
                 include otazky/pocet_mesicu.pug
                #tab4.tab-pane
                 include otazky/zvyseni.pug
                #tab5.tab-pane
                 include otazky/snizeni.pug
                #tab6.tab-pane
                 include otazky/zamestnani.pug
                #tab7.tab-pane
                 include otazky/najem.pug
                #tab8.tab-pane
                 include otazky/kapitalovy_majetek.pug
                #tab9.tab-pane
                 include otazky/ostatni_prijmy.pug
                #tab10.tab-pane
                 include otazky/komanditni_spolecnost_vos.pug
                //SLEVY
                #tab11.tab-pane
                 include otazky/sleva_na_manzelku.pug
                #tab12.tab-pane
                 include otazky/sleva_na_dite.pug
                #tab13.tab-pane
                 include otazky/sleva_na_invaliditu.pug
                #tab14.tab-pane
                 include otazky/sleva_na_materskou_skolu.pug
                #tab15.tab-pane
                 include otazky/sleva_na_eet.pug
                #tab16.tab-pane
                 include otazky/sleva_na_studenta.pug
                //NEZDANITELNE CASTI
                #tab17.tab-pane
                 include otazky/darcovstvi_krve.pug
                #tab18.tab-pane
                 include otazky/dar.pug
                #tab19.tab-pane
                 include otazky/zivotni_pojisteni.pug
                #tab20.tab-pane
                 include otazky/penzijni_pojisteni.pug
                #tab21.tab-pane
                 include otazky/hypoteka.pug
                #tab22.tab-pane
                 include otazky/vzdelani.pug
                #tab23.tab-pane
                 include otazky/zapocet_ztraty.pug
                #tab24.tab-pane
                 include otazky/prispevky.pug
                // ÚDAJE O POPLATNÍKOVI
                #tab25.tab-pane
                 include otazky/udaje.pug
                #tab26.tab-pane
                 include otazky/bydliste.pug
                #tab27.tab-pane
                 include otazky/informace.pug
                #tab28.tab-pane
                 include otazky/zaver.pug

                input#celkemVydajeSazba(type='hidden')
                input#celkemPrijemSazba(type='hidden')
                input#rozdilPrijemVydaje(type='hidden')
                input#celkemOstatni(type='hidden')
                input#rozdilOstatni1(type='hidden')
                input#rozdilOstatni2(type='hidden')
                input#rozdilOstatni3(type='hidden')
                input#rozdilOstatni4(type='hidden')
                input#ostatniPrijmy(type='hidden')
                input#ostatniVydaje(type='hidden')
                input#rozdilPrijemVydajeOstatni(type='hidden')
                input#slevaNaPoplatnika(type='hidden', value='24840')
                input#celkemSlevaZaManzelku(type='hidden')
                input#celkemSlevaZaManzelkuZTP(type='hidden')
                input#celkemCastecnyDuchod(type='hidden')
                input#celkemUplnyDuchod(type='hidden')
                input#celkemSlevaZTP(type='hidden')
                input#celkemSlevaStudent(type='hidden')
                input#celkemSlevy(type='hidden')
                input#dite3a4(type='hidden')
                input#dite3a4ZTP(type='hidden')
                input#celkemSlevaDite(type='hidden')
                input#celkemPrijemZamestnani(type='hidden')
                input#celkemPojisteniZamestnani(type='hidden')
                input#soucetPrijemPojistne(type='hidden')
                input#rozdilNajem1(type='hidden')
                input#rozdilNajem2(type='hidden')
                input#radek41(type='hidden')
                input#zakladDane(type='hidden')
                input#soucetZtrat(type='hidden')
                input#zakladBezZtrat(type='hidden')
                input#celkemDary(type='hidden')
                input#celkemVzdelani(type='hidden')
                input#soucetNezdanitelCasti(type='hidden')
                input#zakladSnizenyOnezdanitCasti(type='hidden')
                input#zakladNaSto(type='hidden')
                input#danRadek57(type='hidden')
                input#solidarniDan(type='hidden')
                input#danCelkemZaokr(type='hidden')
                input#slevaBezDeti(type='hidden')
                input#slevaSDetmi(type='hidden')
                input#VOSprijem(type='hidden')
                input#zvyseniSoucet(type='hidden')
                input#snizeniSoucet(type='hidden')
                input#radek113(type='hidden')
                input#radek75(type='hidden')
                input#celkemDanBonus(type='hidden')
                input#rozdilDanBonus(type='hidden')
                input#zalohyOSVC(type='hidden')
                input#zalohyOstatni(type='hidden')
                input#celkemSrazkovaDan(type='hidden')
                input#celkemSlevaDiteDoVyse(type='hidden')
                input#rozdilZtrata1(type='hidden')
                input#rozdilZtrata2(type='hidden')
                input#rozdilZtrata3(type='hidden')
                input#rozdilZtrata4(type='hidden')
                input#rozdilZtrata5(type='hidden')
                input#rozdilZtrata6(type='hidden')
                input#preplatek(type='hidden')
                input#celkovaDan(type='hidden')
                input#datum(type='hidden')
                ul.pager.wizard
                  li#btnPrev.previous
                    a.smer(href='#') Předchozí
                  .vypocet
                    li#btnNext.next
                      a.smer(href='#') Další
                .alert.alert-warning.res(role='alert')
                  | Vaše daň vychází na:
                  input#celkovaDanZobraz.dan(disabled='')
