+otazka('Platil(a) jsem v uplynulém roce životní pojištění   ', 'Životní pojištění', 'V případě soukromého životního pojištění činí maximální výše odpočtu 24 000 Kč. Poplatník však musí splňovat 3 následující podmínky: <br><br>• Minimální věk pojištěného, do kterého musí být smlouva sjednaná, je 60 let. <br>• Minimální doba, na kterou je životní pojištění sjednané, je 60 měsíců. <br>• Smlouva neumožňuje průběžný výběr prostředků')
+vyber("$('#div21').slideDown();")

#div21.none
  .form-group
   label Počet uzavřených životních pojištění &nbsp
     +napoveda('Počet uzavřených životních pojištění', 'Vyberte počet vámi uzavřených životních pojištění.')

   select#pocetUzavrenychZivotnichPojisteni.form-control.form-control-lg(
       name='pocetUzavrenychZivotnichPojisteni',
       required='required')
    option(value='0') Počet uzavřených životních pojištění...
    option(value='1') 1
    option(value='2') 2
    option(value='3') 3
    option(value='4') 4
    option(value='5') 5
    option(value='6') 6
    option(value='7') 7
    option(value='8') 8
    option(value='9') 9
    option(value='10') 10
   br

   label Částka za všechna zaplacená životní pojištění
    font(color="red") * &nbsp
    +napoveda('Částka za všechna zaplacená životní pojištění', 'Prosím uvádějte částky v celých Kč.')
   small.form-text.text-muted Celkově lze uplatnit maximálně 24 000 Kč!
   input#castkaZivotniPojisteni.form-control(
        placeholder='Uvedte částku za všechna zaplacená životní pojištění...',
        type='text',
        onkeyup = 'pojisteni()',
        oninput="this.value=this.value.replace(/[^0-9]/g,'');",
        required='')